
@font-face {
  font-family: 'Sweet Sans Pro';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Sweet Sans Pro Regular'), url('SweetSansProRegular.woff') format('woff');
}


@font-face {
  font-family: 'Sweet Sans Pro';
  font-style: italic;
  font-weight: normal;
  font-display: swap;

  src: local('Sweet Sans Pro Italic'), url('SweetSansProItalic.woff') format('woff');
}

@font-face {
  font-family: 'Sweet Sans Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local('Sweet Sans Pro Medium'), url('SweetSansProMedium.woff') format('woff');
}


@font-face {
  font-family: 'Sweet Sans Pro';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: local('Sweet Sans Pro Medium Italic'), url('SweetSansProMediumItalic.woff') format('woff');
}


